@layer base {
  body {
    @apply text-base text-black-100 xl:text-lg;
  }
  html {
    @apply m-0;
  }
  html,
  body{
    @apply overflow-x-hidden bg-white;
  }
  h1,
  .h1 {
    @apply text-h1 font-bold md:text-h1-md;
  }

  h2,
  .h2 {
    @apply text-h2 font-bold md:text-h2-md;
  }

  h3,
  .h3 {
    @apply text-h3 font-semibold md:text-h3-md;
  }

  h4,
  .h4 {
    @apply text-h4 font-syncopate;
  }

  h5,
  .h5 {
    @apply text-h5 font-bold;
  }

  h6,
  .h6 {
    @apply text-h5 font-medium;
  }
  small {
    @apply text-sm;
  }

  button {
    @apply outline-none #{!important};
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    @apply mb-8;
  }

  p,
  li,
  ol,
  ul,
  blockquote,
  figure{
    @apply font-light text-lg leading-7;
    font-size: 20px;
  }

  ol,
  ul{
    @apply block pl-20;
  }

  ol{
    @apply list-decimal;
  }

  ul{
    @apply list-disc;
  }
  p {
    margin: 0 !important;
    @apply m-0;
  }
}

// a:not(.btn):not(.no-underline) {
//   @apply text-brown-100 hover:no-underline;
// }