body{
    letter-spacing: -0.14px;
    line-height: 1rem;
    color: #666666;
    font-size: 0.75rem;
}

.wrap{
    font-family: Poppins;
}

.Line-4 {
    width: 186px;
    border-top: 1px solid #e03116;
    height: 2px;
}

/* screen 768*/
